<div class='row'>

<div class='col-xs-8'>
<%= form_for(@post) do |f| %>
  <div class="form-group">
    <div class="col-sm-12">
    <%= f.label 'Update status' %><br>
      <%= f.text_area :content, class: 'form-control', autofocus: true, 
          placeholder: 'What\'s up?' %>
      <%= f.file_field :attachment, class: 'form-control' %>
  </div>
  </div>
  <%= f.submit :post, class: 'btn btn-primary'%>
<% end %>